<%= form_tag("/organizations", method: "get", enforce_utf8: false) do %>
  <%= label_tag(:what, "WHAT ARE YOU LOOKING FOR?") %><br />
  <%= text_field_tag :what, @search_query, required: true %>
  <%= submit_tag "Search", name: nil %><br />
  Enter Companies, Personal names, Industry OR FREE WORD
<% end %>