<h3>Search Results: <%= link_to 'Get JSON', organizations_path(format: :json, what: @search_query), target: :blank %>&nbsp;|
<%= link_to 'Get XML', organizations_path(format: :xml, what: @search_query), target: :blank %></h3>
<table id="organizations">
  <thead>
    <tr>
      <th>Name</th>
      <th>Org number</th>
      <th>City</th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= organization.name %></td>
        <td><%= organization.org_number %></td>
        <td><%= organization.city %></td>
      </tr>
    <% end %>
  </tbody>
</table>
